TELEGRAM_BOT_TOKEN=
ADMIN_TELEGRAM_ID=
ENCRYPTION_KEY=
HELIUS_RPC_URL=https://api.mainnet-beta.solana.com
MASTER_WALLET_PRIVATE_KEY=
JUPITER_API_URL=https://api.jup.ag/swap/v1
GOPLUS_API_URL=
GOPLUS_API_KEY=
SOLANA_TRACKER_API_URL=
SOLANA_TRACKER_API_KEY=
DEX_DISCOVERY_URL=https://api.dexscreener.com/token-profiles/latest/v1
LIVE_TRADING=false
PORT=3000
